rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
    //  allow read, write;
    //  allow read, create, delete;

      // only auth users can create doc
      allow create: if request.auth != null;

      // logged user uid and document in db uid must match to read and delete
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}
